body {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
}

i {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--iconSize);
	height: var(--iconSize);
}

.nav-panel {
	display: grid;
	grid-template-rows: var(--site-header-height) 1fr;
	border-right: var(--lightBorder);
}

.nav-header {
	display: flex;
	align-items: center;
	padding: var(--small) var(--huge);
}

.nav {
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
	gap: var(--small);
}

.nav-item {
	display: flex;
	align-items: center;
	gap: var(--medium);
	background: none;
	border: none;
	height: var(--huge);
	padding: var(--small) var(--huge);
}

.sub-nav {
	display: flex;
	gap: var(--small);
}

.sub-nav-item,
#route-nav .sub-nav .active {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--darkAccent);
	border-radius: var(--borderRadius);
	color: var(--light);
	font-weight: 500;
	width: calc(1.25 * var(--huge));
	height: 100%;
	opacity: 0.33;
}

#route-nav .sub-nav .active {
	opacity: 1;
}

#route-nav .active .active {
	opacity: 1;
}

.sub-nav-item:hover {
	cursor: pointer;
	opacity: 0.5;
}

#route-nav .sub-nav .active:hover {
	background: var(--darkAccent);
	opacity: 1;
}

#route-nav .active .active:hover {
	background: var(--darkAccent);
	opacity: 1;
}

#route-nav .inactive .sub-nav-item {
	cursor: default;
	background: var(--darkAccent);
	opacity: 0.33;
}

#route-nav .inactive .sub-nav-item:hover {
	cursor: default;
	background: var(--darkAccent);
	opacity: 0.33;
}

.details {
	display: grid;
	grid-template-rows: var(--site-header-height) 1fr;
	background: var(--lightGray);
}

.details-header {
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--huge);
	padding: var(--huge);
}

.details-section {
	display: flex;
	flex-direction: column;
	gap: var(--small);
	background: var(--light);
	border: var(--lightBorder);
	border-radius: var(--borderRadius);
	padding: var(--medium);
	width: 100%;
}

.details-header .details-section {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: var(--light);
	color: var(--dark);
}

.route-path {
	display: flex;
	gap: 2px;
}

.route-path span {
	opacity: 0.33;
}

.copy-to-clipboard-button {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	opacity: 0.66;
}

.copy-to-clipboard-button:hover {
	cursor: pointer;
	opacity: 1;
}

.details-main {
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	padding: 0 var(--huge) var(--huge) var(--huge);
}

.details-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--small);
}

.details-section-header-heading {
	font-weight: 500;
	color: var(--accent);
}

.details-section-header-type {
	opacity: 0.66;
}

.details-section-main {
	display: flex;
	justify-content: space-between;
	border-top: var(--lightBorder);
	padding-top: var(--medium);
}

.tooltip {
	position: relative;
}

.tooltip-text {
	position: absolute;
	bottom: 150%;
	left: 50%;
	visibility: hidden;
	background-color: var(--darkOverlay);
	border-radius: var(--borderRadius);
	color: var(--light);
	text-align: center;
	width: 150px;
	padding: var(--tiny);
	margin-left: -75px;
	opacity: 0;
	z-index: 1;
	transition: opacity 300ms;
}

.tooltip-text::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--darkOverlay) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

#site-title {
	font-size: calc(1.25 * var(--huge));
}

#model-nav-panel {
	background: var(--darkAccent);
	box-shadow: var(--lightShadow);
	z-index: 2;
}

#model-nav-panel * {
	font-weight: 500;
	color: var(--light);
}

#model-nav-panel .nav-item:hover {
	cursor: pointer;
	background: var(--lightHover);
}

#model-nav-panel .active {
	background: var(--lightActive);
}

#model-nav-panel .active:hover {
	background: var(--lightActive);
}

#route-nav-panel {
	background: var(--light);
	box-shadow: var(--lightShadow);
	z-index: 1;
}

#route-nav .nav-item {
	justify-content: space-between;
	gap: none;
}

#route-nav-panel .nav-item:hover {
	cursor: pointer;
	background: var(--darkHover);
}

#route-nav-panel .inactive:hover {
	cursor: default;
	background: none;
}

#route-nav-panel .active {
	background: var(--darkActive);
}

#route-nav-panel .active:hover {
	background: var(--darkActive);
}

#icon-credit {
	position: absolute;
	bottom: var(--small);
	right: var(--small);
	opacity: 0.25;
}

.inactive {
	opacity: 0.33;
}

.hidden {
	display: none;
}

/* large screens */
@media screen and (max-width: 1200px) {
}

/* small screens */
@media screen and (max-width: 1024px) {
}

/* tablets */
@media screen and (max-width: 768px) {
}

/* phones */
@media screen and (max-width: 480px) {
}
