h1 {
	margin-top: 60px;
}

h1:first-of-type {
	margin-top: 0px;
}

h2,
h3,
h4 {
	margin-top: 30px;
}

ul ul {
	padding-bottom: 12px;
}

.warning {
	display: flex;
	flex-direction: column;
	background: hsl(0, 100%, 50%, 25%);
	border: 1px solid red;
	border-radius: 3px;
	padding: 20px;
}

.warning p {
	margin: 0;
	padding: 0;
}

.fileTree {
	background: hsl(210, 10%, 25%);
	padding: 20px;
}

.fileTree p {
	margin: 0;
}
